{% extends "myapp/base.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/list_styles.css' %}">
{% endblock %}

{% block content %}
    <div class="header-wrapper">
        <h4><a href="{% url 'index' owner.username %}" style="text-decoration: none">{{ owner.username }}</a>'s Photos </h4>
        <div class="mt-2">
            {% if request.user == owner %}
                <a href="{% url 'photo:photo_create' owner.username %}" class="new-photo-link">+ New</a>
            {% endif %}
        </div>
    </div>

    <div class="tag-list mt-2">
        {% if selected_tag %}
            <a class="tag-link" href="{% url 'photo:photo_list' owner.username %}">All</a>
        {% else %}
            <a class="blue-tag" href="{% url 'photo:photo_list' owner.username %}">All</a>
        {% endif %}
        {% for tag in all_tags %}
            {% if tag == selected_tag %}
                <a class="blue-tag" href="{% url 'photo:photo_list_by_tag' owner.username tag.name %}">{{ tag.name }}</a>
            {% else %}
                <a class="tag-link" href="{% url 'photo:photo_list_by_tag' owner.username tag.name %}">{{ tag.name }}</a>
            {% endif %}
            {% if not forloop.last %} {% endif %}
        {% endfor %}
    </div>

    <div class="photo-list mt-3">
        {% for photo in photos %}
            <div class="photo-row">
                <div class="thumbnail">
                    {% if photo.thumbnail %}
                        {% if photo.thumbnail %}
                            <a href="{% url 'photo:photo_view' user.username photo.id %}">
                                <img src="{{ photo.thumbnail.url }}" alt="{{ photo.comment|slice:":20" }}">
                            </a>
                        {% endif %}

                    {% endif %}

                    <div>
                        {% if request.user == photo.user %}
                            <a href="{% url 'photo:photo_update' user.username photo.id %}" style="color: green;">Update</a>
                            <a href="{% url 'photo:photo_delete' user.username photo.pk %}" style="color: green;"> Delete </a>

                        {% endif %}
                    </div>
                </div>

                <div class="details">
                    <p class="comment">{{ photo.comment }}</p>
                    <p class="tags">
                        Tags: {% for tag in photo.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </p>
                    <p class="date">{{ photo.created_date|date:"F d, Y" }}</p>
                </div>
            </div>

            <!-- Add the modal here -->
            <div class="modal fade" id="photoModal{{ photo.pk }}" tabindex="-1" aria-labelledby="photoModal{{ photo.pk }}Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="{{ photo.image.url }}" alt="{{ photo.comment }}" class="img-fluid">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of the modal -->

        {% empty %}
            <div class="photo-row">
                <div colspan="2">No photos have been uploaded.</div>
            </div>
        {% endfor %}
    </div>


    <div class="pagination">
        <span class="step-links">
            {% if photos.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ photos.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
            </span>

            {% if photos.has_next %}
                <a href="?page={{ photos.next_page_number }}">next</a>
                <a href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>



{% endblock %}
