{% extends 'myapp/base.html' %}

{% block title %}Create Photo{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/@yaireo/tagify/dist/tagify.css">
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Create a new photo</h1>

    <div class="row justify-content-center">

        <div class="col-md-6">
            <!-- Add a CSS class to the attention div -->

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="{{ form.image.html_name }}" class="form-control" id="{{ form.image.auto_id }}">
                <div id="location_display" class="mt-2"></div>

                <div class="mt-2">
                    <textarea name="{{ form.comment.html_name }}" class="form-control mb-3" id="{{ form.comment.auto_id }}" placeholder="Add a comment"></textarea>
                </div>
                <!-- Add tags input field -->
                <div class="form-group mt-3">
                    <label for="id_tags">Tags:</label>
                    <input type="text" class="form-control" name="tags" id="id_tags" placeholder="Select or type tags">
                </div>

                <div class="form-group mt-3">
                    <label for="id_enable_secrets">Enable Secrets:</label>
                    <input type="checkbox" name="enable_secrets" id="id_enable_secrets" disabled>
                    <div style="color: red;">
                        <small>
                            You can make this secret for photo with location data.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_range">Range:</label>
                    <select name="range" id="id_range" class="form-control" disabled>
                        <option value="">Select a range</option>
                        {% for value, display in form.fields.range.choices %}
                        <option value="{{ value }}">{{ display }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mt-2" id="secrets_div">
                    <div>Secrets(option)</div>
                    {{ form.secrets }}
                </div>

                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>

    <style>
        /* Add CSS styles for the attention phrase */
        .attention-phrase {
            font-weight: bold;
            color: blue;
            font-size: 1.0em;
            margin-bottom: 1em;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize Tagify on the tags input field
            var inputElement = document.querySelector('#id_tags');
            var tagify = new Tagify(inputElement, {
                whitelist: {{ tags_json|safe }},
                placeholder: 'Select or type tags',
                enforceWhitelist: false,
                dropdown: {
                    enabled: 0
                }
            });

            // Update the hidden input field with the tag values
            tagify.on('change', function (e) {
                var tags = tagify.value;
                var tagsArray = tags.map(tag => tag.value);
                inputElement.value = tagsArray.join(',');
            });

            // Function to enable or disable secrets and range fields
            function toggleEnableSecrets() {
                var enableSecrets = document.getElementById('id_enable_secrets');
                var secretsDiv = document.getElementById('secrets_div');
                var rangeSelect = document.getElementById('id_range');

                enableSecrets.addEventListener('change', function() {
                    secretsDiv.style.display = this.checked ? "block" : "none";
                    rangeSelect.disabled = !this.checked;
                });
            }

            toggleEnableSecrets();

            // Image geolocation
            var imageInput = document.getElementById('{{ form.image.auto_id }}');
            var enableSecrets = document.getElementById('id_enable_secrets');

            imageInput.addEventListener('change', function() {
                var file = this.files[0];
                EXIF.getData(file, function() {
                    var lat = EXIF.getTag(this, "GPSLatitude");
                    var long = EXIF.getTag(this, "GPSLongitude");

                    if (lat && long) {
                        enableSecrets.disabled = false;
                    } else {
                        enableSecrets.checked = false;
                        enableSecrets.disabled = true;
                        document.getElementById('secrets_div').style.display = 'none';
                        document.getElementById('id_range').disabled = true;
                    }
                });
            });
        });
    </script>
{% endblock %}

