{% extends 'myapp/base.html' %}
{% load static %}
{% load movie_filters %}

{% block title %}List YouTube Movies{% endblock %}

{% block content %}

<h4><a href="{% url 'index' owner.username %}">{{ owner.username }}</a>'s B! ...Youtubes </h4>
    <table class="table">

        {% for movie in movies %}
            <tr>
                <div style="cursor:pointer;">
                    <h3>{{ movie.title }}</h3>

                    <div class="tags">
                        Tags: {% for tag in movie.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </div>


                    <p>{{ movie.comments }}</p>
                    <!-- Add an anchor element around the thumbnail image -->
                    <a href="{{ movie.youtube_link }}" target="_blank">
                        <img src="{{ movie.thumbnail_url }}" alt="{{ movie.title }}" style="width: 100%;">
                    </a>
                    <div class="text-center">
                        {% if request.user == movie.owner %}
                            <a href="{% url 'movie:delete_movie' user.username movie.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
             </tr>

        {% empty %}
            <tr>
                <td colspan="2">No Youtube movies have been uploaded.
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="mt-2">
        {% if request.user == owner %}
            <a href="{% url 'movie:create_movie' owner.username %}" class="btn btn-primary">+ New Youtube movie</a>
        {% endif %}
    </div>

{% endblock %}
