{% extends 'myapp/base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/list_styles.css' %}">
{% endblock %}


{% load strip_tags %}

{% block title %}Boongmark{% endblock %}

{% block content %}

    <h4>{{ owner.username }}'s Boongmark!
        {% if user.is_authenticated %}
            &nbsp;<a href="{% url 'create_and_send_message' owner.username %}"><i class="bi bi-chat-dots"></i></a>
        {% endif %}
    </h4>


    <div class="mt-3 text-center" style="font-size: 1.5em;">

        <a href="{% url 'photo:photo_list' owner.username %}" style="text-decoration: none">Photos</a>...
        <a href="{% url 'memo:memo_list' owner.username %}" style="text-decoration: none">Memos</a>...
        <a href="{% url 'movie:list_movies' owner.username %}" style="text-decoration: none">YouTubes</a>...
    </div>


<div class="mt-2">
    {% if latest_memo %}
        <div class="memo-text">
                 <a href = "{% url 'memo:memo_list' owner.username %}" style="text-decoration: none" >
                    <tr>
                        <div>
                            <p><i class="bi bi-pencil"></i>{{ latest_memo.title }}</p>
                        </div>
                    </tr>
                </a>
        </div>
    {% endif %}


    {% if latest_photo  %}
        <div style="display: flex; flex-direction: column; align-items: center;">
            <img src="{{ latest_photo.image.url }}" alt="Latest Photo" style="max-width: 500px; max-height: 500px;">
        </div>
        <div class="mt-2">{{ latest_photo.comment }}</div>

    {% else %}
        <p class="mt-2">Hello, This is {{ owner.username }}'s Boongmark</p>
        {% if request.user.username == owner.username %}
            <div>Please touch +new at the top. </div>
            <div>If you upload a photo, it will be displayed here.</div>
        {% endif %}
    {% endif %}

    {% if latest_movie  %}
    {% endif %}

</div>



{% endblock %}


