{% extends 'myapp/base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="mt-3">
        Boongmark is a personal service that allows you to organize notes, YouTube videos, and photos like bookmarks.
        The majority of the source code for this project is being created through a process of copying and pasting while interacting with ChatGPT.
    </div>

    <div class="mt-3 text-center">
        <h2> <a href="{% url 'home' user.username %}" style="text-decoration: none">My Boongmark</a></h2>
    </div>
    <div class="mt-3">
        <b>+ new</b>
    </div>
    <div class=" ms-4">
        <a href="{% url 'photo:photo_create' user.username %}" style="text-decoration: none">Photo</a>...
        <a  href="{% url 'memo:memo_create' user.username %}" style="text-decoration: none">Memo</a>...
        <a href="{% url 'movie:create_movie' user.username %}" style="text-decoration: none">Youtube</a>
    </div>
{% endblock %}
