{% extends 'myapp/base.html' %}

{% block title %}Received Messages{% endblock %}

{% block content %}
    <h1 class="mt-5">Received Messages</h1>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Sender</th>
                <th scope="col">Message</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for received_message in received_messages %}
                <tr>
                    <td>{{ received_message.sender.username }}</td>
                    <td>{{ received_message.content }}</td>
                    <td>{{ received_message.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
