{% extends 'myapp/base.html' %}
{% load static %}
{% load mybookmark_filters %}

{% block title %}List YouTube Movies{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/list_styles.css' %}">

<h4><a href="{% url 'index' owner.username %}">{{ owner.username }}</a>'s B! ...Youtubes </h4>
    <table class="table">

        {% for bookmark in bookmarks %}
            <tr>
                <div data-bs-toggle="modal" data-bs-target="#videoModal" data-video="{{ bookmark.youtube_link }}" style="cursor:pointer;">
                    <h3>{{ bookmark.title }}</h3>
                    <p>{{ bookmark.comments }}</p>
                    <img src="{{ bookmark.thumbnail_url }}" alt="{{ bookmark.title }}" style="width: 100%;">
                    <div class="text-center">
                        {% if request.user == bookmark.owner %}
                            <a href="{% url 'mybookmark:delete_bookmark' user.username bookmark.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
             </tr>


        {% empty %}
            <tr>
                <td colspan="2">No Youtube movies have been uploaded.
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="mt-2">
        {% if request.user == owner %}
            <a href="{% url 'mybookmark:create_bookmark' owner.username %}" class="btn btn-primary">+ New Youtube movie</a>
        {% endif %}
    </div>


    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe id="ytplayer" width="100%" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div>
                    {{ bookmark.comments }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var videoModal = document.getElementById('videoModal');
            videoModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var videoLink = button.getAttribute('data-video');
                var videoId = videoLink.split('v=')[1].split('&')[0];
                var ytplayer = document.getElementById('ytplayer');
                ytplayer.setAttribute('src', 'https://www.youtube.com/embed/' + videoId);
            });

            videoModal.addEventListener('hide.bs.modal', function () {
                var ytplayer = document.getElementById('ytplayer');
                ytplayer.setAttribute('src', '');
            });
        });
    </script>
{% endblock %}
