{% extends 'myapp/base.html' %}
{% block title %}{{ memo.owner.username }}'s memo of Boongmark{% endblock %}

{% block content %}
<style>
    h2 {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .memo-date {
        font-size: 0.9rem;
        color: #6c757d;
        margin-bottom: 0.2rem;
    }
    .memo-content {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 2rem;
    }
    .memo-buttons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .badge-primary {
        color: black;  /* Change this to any color you like */
    }
</style>

<div class="container">
    <div class="row justify-content-center">

            <div class="mt-3 text-end">
                <button id="shareButton" class="btn btn-primary mt-2">Share</button>
                <a href="{% url 'memo:memo_list' memo.owner.username %}" style="text-decoration: none"><button id="listButton" class="btn btn-primary mt-2">List </button></a>
            </div>
        <p class="col-md-8">
            <p class="memo-date">
                Created on {{ memo.created_at|date:"F d, Y" }} by {{ memo.owner.username }}
            </p>
            <p class="memo-tags">
                <strong>Tags:</strong>
                {% for tag in tags %}
                    <a href="{% url 'memo:memo_list_by_tag' memo.owner.username tag.name %}" class="badge bg-secondary" style="text-decoration: none">{{ tag.name }}</a>
                {% empty %}
                    No tags
                {% endfor %}
            </p>
            <div class="memo-content">{{ memo.content|safe }}</div>

            <div class="mt-1 text-end">
                {% if user == memo.owner %}
                    <a href="{% url 'memo:memo_update' memo.owner.username memo.pk %}" style="text-decoration: none" >Edit</a>...
                    <a href="{% url 'memo:memo_delete' memo.owner.username memo.pk %}" style="text-decoration: none">Delete</a>...
                {% endif %}
                <a href="{% url 'memo:memo_list' memo.owner.username %}" style="text-decoration: none"> Memos List</a>
            </div>






        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}
    <script>
        document.querySelector('#shareButton').addEventListener('click', async () => {
            const url = window.location.href;
            const title = document.title;

            if (navigator.share) {
                try {
                    await navigator.share({ title: title, url: url });
                } catch(err) {
                    console.error('There was an error sharing:', err);
                }
            } else {
                console.log('Web Share API is not supported in this browser.');
            }
        });
    </script>
{% endblock %}