{% extends 'myapp/base.html' %}

{% load static %}

{% block title %}Create Memo{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="my-4">Create a new memo</h1>
                <form method="POST" enctype="multipart/form-data" class="post-form my-3" onsubmit="button_submit.disabled=true; return true;">
                    {% csrf_token %}

                    <div class="mb-3">
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        {{ form.content }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


